body{
    background-color: rgb(30, 30, 194);
}
h1, h2{
    color: whitesmoke;
    display: inline-block;
}
.rojo{
    color: red;
}

.verde{
    color: green;
}
.superior{
    background-color: purple;
}

h1{
    background-color: tomato;
    /* width: 100vw; */

    
}


.cabecera{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.resultado{
    background-color: orange;
}

ul {
    list-style: none;
}